*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 background-color: rgb(224, 223, 223);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center; 

}

.Time{
  margin-top: 20px;
  padding: 15px 10px;
  background: #00ffff;
  height: 250px;
}
.Time h1{
  font-size: 2rem;
  margin-bottom: 30px;
  padding: 10px 5px;
}

.head{
  font-size: 2.5rem;
  margin-top: 10px;
}

.Time button{
 padding: 5px 10px;
 background-color: rgb(165, 161, 161);
 font-size: 18px;
 margin-top: 35px;
}


.blessing{
  margin-top: 50px;
  /* width: 30%; */
  padding: 20px 60px;
  background: #ff523b;
  height: 250px;

  
}

.header{
  font-size: 30px;
   text-align: center;

}

.count{
  text-align: center

}

.count h1{
 
  font-size: 3rem;

}

.count > button{
   margin: 30px 10px 0;
   padding: 0 15px;
 background-color: red;
 font-size: 24px
     
}

.count > button:hover{
  background-color: #fff;
}


@media (min-width: 350px) {

  .Time, .blessing{
    margin: 20px;
  }

}
