*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  text-align: center;
  padding: 10px 50px;
}

.Time{
  text-align: center;
  background-color: aqua;
  padding-top: 5px;
}
.Time h1{
  font-size: 3rem;
}

.head{
  font-size: 2.5rem;
}

button{
 padding: 20px;
 background-color: red;
 font-size: 34px
}


.blessing{
  
  margin-top: 50px;
  padding: 10px 50px;

  
}

.cyb{
 text-align: center;
  font-size: 2.5rem
  

}

.count{
  text-align: center;
  background-color: grey;

  


}

.count h1{
 
  font-size: 3rem;

}

.count > button{
   margin: 0 10px;
   padding: 20px;
 background-color: red;
 font-size: 34px
}